@charset "utf-8";
/* CSS Document */
.edo-page {
	font-size: 12px
}

.edo-page .footer-text-icon span { 
	padding-left: 3px !important;
}

.edo-page .new-messages1 {
	color: #fff;
	font-size: 10px;
	margin-right: 3px;
	float: right;
}

.edo-page h1 {
	color: #252f30;
	font-weight: bold;
	/*display:none*/
}

.edo-page .error {
	color: #576166 !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold !important;
	padding-top: 15px;
	padding-bottom: 15px;
}

.edo-page a {
	text-decoration: none;
	color: #267bb1
}
#edoLandingPage-pg .navtabs,#edoHistory-pg .navtabs{
	margin-top:5px;
	}
.edo-page .dtl-view-wrap {
	min-height: 400px;
	border-radius: 3px;
	border: 1px solid #dee2e1;
	background: #fff;
	-webkit-box-shadow: 0px 3px 5px #dee2e1;
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.43, #F0F0F0
		), color-stop(0.65, #FCFCFC) );*/
		margin-top:30px;
}

.edo-page .dtl-view-wrap .prtnr-icon.macys {
	display: inline-block;
	height: 105px;
	width: 105px;
	/*background: url(../images/edo-macys-logo.png) center center no-repeat;*/
	background-size: 105px 105px;
	margin: 12px;
	float: left;
	border: 1px solid #efefef;
padding: 4px;
margin: 20px;
}

#saveToPhotos-pg .detailPageLogo {
	width: 25px;
	margin-left: 33%;
	margin-top: 40px;
}

.edo-page .dtl-view-wrap .prtnr-icon.lowes {
	display: inline-block;
	height: 105px;
	width: 105px;
	background: url(../../images/edo-lowes-logo.png) center center no-repeat;
	background-size: 105px 105px;
	margin: 21px;
	float: left;
}

.edo-page .dtl-view-wrap .expiry-dt {
display: inline-block;
height: 75px;
width: 40%;
font-size: 14px;
margin-top: 12px;
float: left;
text-align: center;
padding-top: 30px;
color: rgb(144, 147, 148);
font-weight: bold;
}

.edo-page .dtl-view-wrap .expiry-dt div {
	text-align: left;
	width: auto;
	display: inline-block;
}
.edoDetailInformation{display: block;
margin-top: 10px;}
/*#edoDetailTerm{font-size: 15px;
color: rgb(82, 94, 102);}*/
.edo-page .dtl-view-wrap .expiry-dt div span {
	
}

.edo-page .dtl-view-wrap .desc {
	/*margin: 0 12px 10px 12px;*/
	font-size: 13px;
	color: #838a8d;
	line-height: 16px;
	margin-left:20px;
	padding-bottom: 25px;
}

.edo-page .dtl-view-wrap .desc .heading {
	color: #838a8d;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 21px;
}

.edo-page .dtl-view-wrap .greybtn {
	height: 95px;
	max-width: 122px;
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #C7CDCF
		), color-stop(1, white) ) !important;*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dce3e5), color-stop(1%,#ffffff), color-stop(66%,#ffffff), color-stop(96%,#f5f7f8), color-stop(100%,#f5f7f8)) !important;
	-webkit-border-radius: 5px;
	/*background-image:url('../images/ajaxLoader.png');*/
	border: 1px solid #ced2d4 !important;
	text-align: center;
	color: #576166;
	padding-top: 2px;
	padding-left: 7px;
	padding-right: 6px;
	font-size: 14px;
	margin: 0 5px 0 5px;
	margin-bottom: 20px;
	-webkit-box-shadow: none !important;
	float: none
}
/*.edo-page .dtl-view-wrap .greybtn  .ui-btn-inner {
border-top: 0px;
white-space: normal;
width: 89%;
margin-top: 30px;}*/
.edo-page .dtl-view-wrap .greybtn  span.img{text-align: center;
width: 100%;
float: left;}
.edo-page .dtl-view-wrap .greybtn  span.txt{float: left;
/*margin-top: 0px;
margin: 0 auto;*/
text-align: center;
width: 100%;}
/* added for pass book button starts here*/
#detail-cc-passbook .dtl-view-wrap .greybtn .addto {
	display: block;
	font-size: 10px;
	text-align: left;
	margin: 2px 0 1px 33px;
}

#detail-cc-passbook .dtl-view-wrap .greybtn {
	min-height: 30px;
	min-width: 105px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #C7CDCF
		), color-stop(1, white) );
	-webkit-border-radius: 5px;
	border: 1px solid #828282;
	text-align: center;
	color: #576166;
	-webkit-box-shadow: none !important; 1
	float: left;
}

#detail-cc-passbook .dtl-view-wrap .passbookimage {
	float: left;
	margin: 5px 0 5px 5px;
}

#detail-cc-passbook .dtl-view-wrap .greybtn .passbook {
	color: black;
	font-size: 15px !important;
}

#detail-cc-passbook	.ui-btn-inner {
	padding: 0px !important;
}

#detail-cc-passbook .dtl-view-wrap .greybtn {
	padding: 0 0 5px 0 !important;
	margin-top: 0;
}

#detail-cc-passbook	.viewAddtoButton {
	margin-top: 20px;
}

#detail-cc-passbook	.viewAddtoButton .viewButton {
	margin: 0 0 0 7% !important;
	float: left;
}

#detail-cc-passbook	.viewAddtoButton .viewButton .ui-btn-inner {
	margin-top: 9px;
}

#detail-cc-passbook	.viewAddtoButton .addtoPassbook {
	float: right;
	margin-right: 13%;
}

/* added for pass book button ends here*/
.edo-page .dtl-view-wrap .greybtn.ui-btn-hover-c {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #C7CDCF
		), color-stop(1, white) ) !important;
}
.edo-page .dtl-view-wrap .coupon-dtl {
	margin: 0 20px 10px 20px;
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
	font-size: 15px;
	color: #576166;
	font-weight: bold
}

.edo-page .dtl-view-wrap .coupon-dtl .code {
	font-size: 19px;
	color: #576166;
}

.edo-page .dtl-view-wrap .coupon-dtl p a,.edo-page .dtl-view-wrap .coupon-dtl p
	{
	font-size: 11px;
	padding-top: 14px;
}

.edo-page div[data-role="footer"] a.footer-cancel {
	float: left;
	margin-top: 8px;
	margin-left: 12px;
}

.edo-page div[data-role="footer"] a.footer-save {
	float: right;
	margin-top: 8px;
	margin-right: 12px;
}

.marginFooter {
	margin-bottom: 15px;
}

#saveToPhotos-pg.edo-page .ui-content-internalpages h1,#historyUnused.edo-page .ui-content-internalpages h1
	{
	font-size: 27px;
	font-weight: normal; 1
	text-align: center;
}

#saveToPhotos-pg.edo-page .dtl-view-wrap {
	min-height: 250px
}

/*faqs page starts*/
#edo-faqs .rdFaqs {
	padding: 15px 5px;
	text-shadow: none
}

#edo-faqs .ui-content .ui-listview {
	margin: 0px !important
}

#edo-faqs .rdfaq-que-link-whole {
	cursor: pointer;
}

.edo-page .rd-faq-question-list,.faq-page .rd-faq-question-list {
	background-color: white;
	border-radius: 3px;
	border: 1px solid #DADADA;
	/*padding: 7px 0px;*/
	-webkit-border-radius: 3px;
	margin-top: 10px;
}

.edo-page .rdfaq-plus,.faq-page .rdfaq-plus{
	height: 17px;
	width: 20px;
	float: left;
	background-image: url('../../images/plus-minus.png');
	/*background-size:17px 33px;*/
	display: inline-block;
	margin-right: 10px;
	background-position: top center;
	cursor: pointer
}

.edo-page .rd-faq-question-list li,.faq-page .rd-faq-question-list li {
	border-bottom: 1px solid #f6f6f6;
	width:95%;
	margin: 0 auto;
	padding: 12px 12px;
}
.edo-page .rd-faq-question-list li:last-child,.faq-page .rd-faq-question-list li:last-child  {
	border-bottom: 0px;
}

.edo-page .rdfaq-hidden-element,.faq-page .rdfaq-hidden-element{
	height: auto;
	padding-top: 10px;
	/*padding-left: 18px;*/
	/*padding-bottom: 15px;*/
	display: none;
	color:#727675;
	line-height: 16px;
	padding-right:10px;
}

.edo-page .rd-faq-question-list .ui-grid-a .ui-block-a,.faq-page .rd-faq-question-list .ui-grid-a .ui-block-a{
	width: 7% !important;
}

.edo-page .rd-faq-question-list .ui-grid-a .ui-block-b,.faq-page .rd-faq-question-list .ui-grid-a .ui-block-b{
	width: 90% !important;
	float:right;
}

.edo-page ul.rdfaq-inner-list {
	list-style-type: circle !important;
	overflow: visible
}
/*.edo-page .rdfaq-inner-list li{border:0px; padding-bottom:0 !important;}*/
#edo-faqs .ui-content-internalpages .rdfaq-inner-list {
	padding-left: 40px;
}

#edo-faqs .ui-content-internalpages .rdfaq-hidden-element li {
	list-style-type: disc;
	overflow: visible;
	border: none;
}

/* #edo-faqs a {
	/*font-size: 15px;
	color:#3c4a4e !important;
	font-weight: bold !important
} */

.edo-page .wraper a,.edo-page .wraper a:hover,.faq-page .wraper a,.faq-page .wraper a:hover  {
	color:#3c4a4e;
	font-weight: bold !important;
	text-decoration: none;
	font-size:14px;
}


#edo-faqs .logout-button a {
	font-weight: bold !important
}
/*faqs page ends*/
.edo-page .tooltip {
	width: 186px;
	height: auto;
	position: absolute;
	right: 26px;
	top: 85px;
	z-index: 9999;
	display: none;
}

.edo-page .arrow_head {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	right: -5%;
	top: -5px;
	border-bottom: 10px solid #454D5A;
	float: left;
}

.edo-page .bubble_data {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #475164),
		color-stop(14%, #151F34), color-stop(60%, #0B121F),
		color-stop(100%, #0B121F) );
	border-radius: 5px 5px 5px 5px;
	padding: 6px;
}

.edo-page .bubble_data .ui-btn-inner {
	padding: 0.6em 22px !important;
}

.edo-page .cls_all_parent {
	float: left;
	width: 100%;
}

.edo-page .rd-landing-bubble-h1 {
	color: #fff !important;
	font-size: 11px;
	text-shadow: 0 0px 0 white !important;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.edo-page .rd-landing-bubble-data {
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: -7px;
}

.edo-page .rd-landing-bubble-data a {
	color: black !important;
	font-weight: bold !important;
	display: block;
	/*width: 94%;*/
	padding: 7px 0px 7px 10px;
}

.edo-page .rd-landing-bubble-data ul {
	list-style: none;
	padding: 0;
	font-size: 12px;
	margin-bottom: 0;
}

/*.edo-page .rd-landing-bubble-data ul li {
	width: 94%;
	padding: 7px 0px 7px 10px;
}*/

.edo-page .rd-landing-bubble-data ul li:first-child {
	border-bottom: 1px solid #dadada;
}

.edoDisplayNone {
	display: none !important;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	display: none;
	z-index: 9999;
}


.overlay-header {
	width: 100%;
	text-align: center;
	background-color: #fff !important
}

.overlay-content {
	background-color: #fff;
	padding-top: 5%;
	padding:10px;
	font-family: Helvetica, Arial, sans-serif;
	overflow-y: auto;
}

.overlay-header .hdr-text {
	display: inline-block;
	margin-left: 7%;
	margin-top: 20px;
	padding-left: 5px
}

.overlay-header .hdr-text span {
font-size: 60px;
font-weight: normal;
text-align: center;
margin-top: 73px;
}
.edo-page .overlay-content .innerText {
                /*margin-bottom: 17% !important;*/
               /* margin-top: 12% !important;*/
}
.edo-page .overlay-content .innerText p {
                font-weight: normal !important;
}

.overlay-header .hdr-text .punchLine {
	font-size: 14px;
color: #576166;
font-weight: bold;
text-align: center;
/*margin-top: 15px;*/
}

.overlay-header #closebtn {
	margin:0;
	float: right;
	display: inline-block;
	cursor: pointer;
	padding:0px 0px 1px 1px;
	position:absolute;
	right:-18px;
	top:-17px;
	display: none;
}

.overlay-content .innerText {
	margin-bottom: 2%;
}

.overlay-content .innerText p {
	font-size: 16px;
color: #576166;
margin: 20px 15px 0 10px;
}

.overlayBtn {
	width: 100%;
	text-align: center;
	margin-bottom: 12px;
	top: 90%;
	/*position: absolute;*/
}

.overlayBtn #overlayShowExtras {
	width: 124px;
	/*margin-top:60%;*/
}

.clearboth {
	clear: both;
}
/*edoHistory-pg.html css starts here*/
/*#edoHistory-pg .ui-content-internalpages {
	padding: 0;
}*/
/*#edoHistory-pg .navtabs{margin-left:10px;}*/
/*#edoHistory-pg.edo-page .ui-content-internalpages h1,*/#historyUnused.edo-page .ui-content-internalpages h1
	{
	font-size: 27px;
	font-weight: normal;
}

.edo-page .edoHistoryHeader {
	margin-top: 5px;
	margin-bottom: 2px;
}

.edo-page .edoHistoryHeader .ui-block-b .rd-faq-main {
	padding-top: 0px;
	margin-top: 0px;
	text-align: right;
	padding-right:7px;
}

.edo-page .edoHistoryHeader .ui-block-b .rd-faq-main .icon_faqs {
 cursor: pointer;
 width:32px;
 height:33px;
}

.edo-page .navtabs {
	width: 69%;
	-webkit-border-radius: 0px;
	cursor: pointer;
	float: left;
}
.divider {
border-top: 1px solid #c0c8cc;
padding-top: 15px;
-webkit-box-shadow: 0px -5px 5px #F3F5F6;
}
.edo-page .navtabs a,.edo-page .navtabs a:hover,.edo-page .navtabs a:visited
	{
	text-decoration: none !important;
	color: #3d484d;
}

.edo-page .navtabsStyle {
	/*padding: 8px 0 8px 0; */
	padding:9px 0 10px 0;
	text-align: center;
	font-size: 12px !important;
	color: #3d484d;
	font-weight: bold;
	border: 1px solid #c0c8cc;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #fefefe
		), color-stop(1, #f6f6f6) );
}

#edoLandingPage-pg.edo-page .navtabsStyle {
	padding: 9px 0 10px 0;
	}
.edo-page .navtabs .ui-block-a {
	border-right: none;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	width: 50% !important;
}

.edo-page .navtabs .ui-block-b {
	width: 50% !important;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}

.edo-page .selectedTab {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, #9BA2A4
		), color-stop(1, #404649) ) !important;
}

.edo-page .selectedTab span {
	color: #FFFFFF;
}

#edoHistory-pg .ui-content-internalpages .claimText {
	font-size: 11px;
	color: #292929;
	margin-top: 13px;
}

#edoHistory-pg .wraper .historyList {
	/*border: 1px solid #D5D3D3;*/
	-webkit-border-radius: 5px;
	/*background: white;*/
	margin-top: 8px;
}

#edoHistory-pg .wraper .historyList	.listLi {
	padding: 0;
	padding-left: 11px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ededed;
	font-size: 12px; 
	color: #777e81;
}


#edoHistory-pg .wraper .historyList li:nth-child(2n){
background-color:#f4f4f4;
}

#edoHistory-pg .wraper .historyList li:first-child{border-bottom:1px solid #dce0e1;
background:none;font-size:14px;color:#50555a}
#edoHistory-pg .wraper .historyList li:first-child .ui-block-c span{font-size:14px !important;color:#50555a !important}
#edoHistory-pg .wraper .historyList	.listLi .ui-block-a,#edoHistory-pg .wraper .historyList	.listLi .ui-block-b,#edoHistory-pg .wraper .historyList	.listLi .ui-block-c
{
	margin-top: 10px;
	width:33%;
}


#edoHistory-pg .wraper .historyList	.listLi .ui-block-c span {
	margin-left: 36%;
	color: #777e81;
	font-size: 12px;
}
/*#edoHistory-pg .wraper .historyList	.listLi .ui-block-b span 
{margin-left:20%}*/
/*edoHistory-pg.html css ends here*/

/*edoHistory-pgUnused.html css starts here*/
#historyUnused .ui-content-internalpages {
	padding: 21px 12px 0 12px;
}

#historyUnused .claimText {
	font-size: 12px;
	color: #576166;
	margin-top: 13px;
	font-weight: bold;
}

/*edoHistory-pgUnused.html css ends here*/

/*edoLandingPage css starts here*/
#edoLandingPage-pg .featuredOffers {
	margin-top: 10px;
	border: 1px solid #dde1e0;
	padding-bottom: 5px;
	-webkit-border-radius: 7px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.03, #F1F1F1), color-stop(0.25, #FCFCFC) );
	z-index: 99;
	margin-bottom:20px;
}

#edoLandingPage-pg .featuredOffers	.ui-grid-b {
	z-index: 999;
	margin-left: -6px;
}

#edoLandingPage-pg .featuredOffers	.ui-grid-b .ui-block-a {
	width: 22.33%;
	margin-top: 7px;
}

#edoLandingPage-pg .featuredOffers	.ui-grid-b .ui-block-b {
	width: 13.33%;
	margin-top: 5px;
	margin-left: 6px;
}

#edoLandingPage-pg .featuredOffers	.ui-grid-b .ui-block-c {
	width: 58%;
	margin-top: 5px;
	margin-left: 8px;
}

#edoLandingPage-pg .featuredOffers	.ui-grid-b .ui-block-c span {
	font-weight: bold;
	color: #000;
}

#edoLandingPage-pg .featuredOffers	.ui-grid-b .ui-block-c span.edoCbb {
	color: #ff6600;
}

#edoLandingPage-pg .featuredOffers	.ui-grid-b .ui-block-c .offerDate {
	font-size: 11px;
	color: #666f73;
	font-weight: normal;
}

.edo-page .navBtns { /*margin-top:20px; */
width:90px;
float: right;
margin-top:5px;
}

.edo-page .navBtns .ui-block-a {
	width: 38px;
	margin-left: 7%;
}

.edo-page .navBtns .ui-block-b {
	width: 35px;
    cursor: pointer;
    display: inline-block;
    margin-left: 4px;
}

#sortFeatures {
	
}

.edo-page .showListview {
	margin-top: 17px;
	/*border: 1px solid #dee1e0;
	-webkit-border-radius: 5px;
	background: white;*/
}

.edo-page .showListview li:first-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}

.edo-page .showListview li:last-child {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.edo-page .showListview .items {
	padding: 0;
	padding-left: 13px;
	border-bottom: 1px solid #dee1e0;
	/*-webkit-box-shadow: #F3F5F6 0 0 5px 4px inset;*/
	cursor: pointer;
}

.edo-page .showListview .items .partnerLogo {
	width: 21%;
	border: 2px solid #eaebec;
	float: left;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
}

.edo-page .showListview .items .offersInfo {
	float: left;
	width: 67%;
	margin-top: 9px;
	margin-left: 2%;
	font-size: 12px;
	/*font-weight: bold;*/
	color: #3b4750;
	text-align: left;
	font-weight:bold;
}

.edo-page .showListview .items .offersInfo .expiryDot {
	clear: left;
	float: left;
	/*border: 1px solid #c4c5c8;
	-webkit-border-radius: 10px;
	width: 13px;
	height: 13px;*/
	padding-top: 2px;
	padding-left: 2px;
	margin-right: 3%;
	margin-top: 3px;
}

.edo-page .showListview .items .offersInfo .merchantName {
	/*float: left;*/
}

.edo-page .showListview .items .offersInfo .expiryDot .expiryDotInner {
	width: 11px;
	height: 11px;
	-webkit-border-radius: 10px;
}

.edo-page .yellowDotColor {
	background-color:#f9df0e
}

.edo-page .greenDotColor {
background-color:#8ed500
}

.edo-page .redDotColor {
	background-color:#f21923
}

.edo-page .showListview .items .offersInfo .expDate {
	color: #6b6b6b;
	float: left;
	margin-top: 3px;
	font-size: 11px;
	font-weight:normal !important;
}

.edo-page .showListview .items .rightArrow {
	float: right;
	margin-top: 31px;
	margin-right: 5%;
	display:none;
}

.edo-page .btmBtns .viewMoreOffers {
	width: 132px;
	height: 32px;
}

.edo-page .btmBtns .viewMoreOffers .ui-btn-inner {
	padding: .6em 20px;
}

.edo-page .navBtns .ui-block-a .ui-select {
	float: right;
}

.edo-page .navBtns .ui-block-a .ui-select .ui-btn {
	height: 34px;
	width: 36px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #fefefe
		), color-stop(1, #f6f6f6) );
		border-radius:0 !important;
		/*margin-right:15px  !important;*/
}

.edo-page .navBtns .ui-block-a .ui-select .ui-btn .ui-btn-inner {
	padding-right: 0;
	/*margin-top: 4px;*/
	margin-left: 0px;
	font-size: 12px;
	color: #374247;
	font-weight: bold;
	padding:0px !important;
	line-height:34px;
}

.edo-page .navBtns .ui-block-a .ui-select .ui-btn .ui-btn-inner .ui-icon
	{
	display: none;
}

.edo-page .navBtns .ui-block-b .changeView {
	height: 34px;
	width: 36px;
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #fefefe
		), color-stop(1, #f6f6f6) );
	/*-webkit-border-radius: 5px;*/
	border: 1px solid #c0c8cc;
	float: right;
	margin-right: -21%;
	text-align: center;
}

#changeViewBtn {
	margin-top: 1px;
	height: 32px;
	width: 36px;
	/* margin-left: 10px; */
}

.changeViewBtn_listImg {
	background: url(../images/listImg.png) no-repeat center center;
	-webkit-background-size: 20px 20px;
}

.changeViewBtn_gridImg {
	background: url(../images/gridImg.png) no-repeat center center;
	-webkit-background-size: 22px 22px;
}

.edo-page .activeDate,.edo-page .actDaysLeft {
	display: none;
}

.edo-page .btmBtns {
	clear: left;
	float: left;
	width: 100%;
	margin-top: 13px;
	text-align: center;
}
/*edoLandingPage css ends here*/

/*edoLandingPageWithoutOffer.html css starts here*/
#edoLandingWithoutOffer .navtabs {
	display: inline-block;
	float: left;
}

#edoLandingWithoutOffer .navBtns {
	margin-top: 0;
}

#edoLandingWithoutOffer .extraBtnhide {
	background: none;
}
/*edoLandingPageWithoutOffer.html css ends here*/

/*Save to photos*/
.edo-page .edo-saveToPhoto-head {
	text-align: center;
	width: 100%;
	color: #f60;
	font-size: 52px;
}

.edo-page .edo-saveToPhoto-head p {
	font-size: 11px;
	font-weight: bold;
	color: #576166;
}

/*.ui-content-internalpages h1 {
	margin: 0;
}*/
/*Save to photos Ends*/
.edo-page .ui-select .ui-btn {
	border: 1px solid #c0c8cc;
}
/*===================EDO MAPS CSS========================*/
.edo-page#view-map .ui-content,.edo-page#route-map .ui-content,.edo-page#dir-panel .ui-content
	{
	padding: 0px !important;
}

1
.edo-page #directionsPanel {
	color: red
}

.edo-page #map_canvas,.edo-page #map_canvas2 {
	width: 100%;
	height: 100%;
	min-height: 100%
}

/* EDO Map css */
.edo-page #map_canvas {
	width: 100%;
	height: 680px;
}

.edo-page #pane {
	width: 100%;
	height: 50px;
	background: white;
}
.edo-page #get-dir{width:200px}
.edo-page #get-dir ul {
	width: auto;
	list-style: none;
	/*border:1px solid #d4d4d4;*/
}

.edo-page #get-dir li {
	border-bottom: 2px solid #d4d4d4;
	height: 17px;
	ont-size: 12px;
	font-weight: bold;
	padding-top: 7px;
	color: #1d6faf;
	overflow: none;
	white-space: nowrap;
	width: auto;
}

.edo-page #get-dir li:last-child {
font-size:14px;
	border: none
}
.edo-page #get-dir li:last-child  span{
	float:right;
}
.edo-page #get-dir .merchant {
	/*color: grey*/
	  color:#40484b !important;
 margin-left:-5px;
 margin-right:-4px;
 padding-bottom: 3px;
 padding-right: 8px;
font-size:14px;
 }

.edo-page #get-dir .merchant  span{
margin-left:5px;
}

.edo-page .downarrowdiv:after { /*arrow added to downarrowdiv DIV*/
	content: '';
	display: block;
	position: absolute;
	top: 100%; /*should be set to 100% */
	left: 60px;
	width: 0;
	height: 0;
	border-color: white transparent transparent transparent;
	/*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}

.edo-page .downarrowdiv {
	position: relative;
	background: #ffffff;
	border: 1px solid #333;
}

.edo-page .downarrowdiv:after,.edo-page .downarrowdiv:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.edo-page .downarrowdiv:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	left: 90px;
	margin-left: -30px
}

.edo-page .downarrowdiv:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 11px;
	left: 90px;
	margin-left: -31px;
}

.noPadding {
	padding: 0px;
}

.edo-page #directionsList {
	margin: 0px;
	padding: 0px;
	/*border: 1px solid #D5D3D3;*/
	/*-webkit-border-radius: 5px;*/
	list-style: none;
	background: white;
}

.edo-page #directionsList li:nth-child(2n+1) {
	background: #f1f1f1;
}

/*.edo-page #directionsList li:nth-child(2) {
	background: -webkit-gradient(linear, 0% 0%, 0% 78%, from(#FFFFFF),
		to(#f4f7f7), color-stop(0, #eceff0) );
}*/

/*.edo-page #directionsList li:last-child {
	background: -webkit-gradient(linear, 0% 0%, 0% 78%, from(#FFFFFF),
		to(#f4f7f7), color-stop(0, #eceff0) );
}*/

.edo-page #directionsList .items {
	padding-top: 3%;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 3%;
	/*-webkit-box-shadow: #F3F5F6 0 0 5px 4px inset; */
}

.edo-page #directionsList .items:active {
	cursor: pointer;
	background: -webkit-gradient(linear, 0% 0%, 0% 78%, from(#FFFFFF),
		to(#C1C9CD), color-stop(0, #DBE2E4) );
}

.edo-page #directionsList li:first-child:active {
	background: #ffffff;
	cursor: default;
}

.edo-page #directionsList li:last-child:active,.edo-page #directionsList li:nth-child(2):active
	{
	background: -webkit-gradient(linear, 0% 0%, 0% 78%, from(#FFFFFF),
		to(#f4f7f7), color-stop(0, #eceff0) );
	cursor: default;
}

.edo-page #directionsList .items .icon {
	width: 7%;
	float: left;
	color: #495559;
	text-align: center;
	padding: 3px;
	font-size:18px;
}

.edo-page #directionsList .items .routeInfo {
	float: left;
	width: 67%;
	padding-top: auto;
	padding-bottom: 5px;
	margin-left: 2%;
	font-size: 14px;
	color: #4f575d;
	font-weight:bold;
}

.edo-page #directionsList .items .rightArrow {
	margin-top: 8px;
	padding-top: 0px;
	margin-left: 97%;
}

.edo-page .navigation {
	width: 100%;
	max-height: 20%;
	position: absolute;
	background:#ebebe9;
	/*background: -webkit-gradient(linear, 0% 0%, 0% 78%, from(#FFFFFF),
		to(#d5dcdf), color-stop(0, #c1c9cd) );*/
	z-index:999999;
	padding-top: 5px;
padding-bottom: 5px;
border-bottom: 2px solid #d0ceca;
}

.edo-page .navigation .divider {
	width: 1px;
	min-height: 30px;
	height: 100%;
	float: left;
	background: #ffffff;
}

.edo-page .navigation .leftBtn {
	position: absolute;
	top: 32%;
	left: 2%;
}

.edo-page .navigation .rightBtn {
	position: absolute;
	top: 32%;
	right: 2%;
}

.edo-page .navigation .centerPart {
	width: 80%;
	height: 100%;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding: 13px 5px 13px 5px;
	margin-left: 9%;
	margin-right: 9%;
	/*border-left: 1px solid #fff;
	border-right: 1px solid #fff;*/
}

.edo-page .searchInput {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 2px solid #d0ceca;
	background: #ebebe9;
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.17, rgb(111
		, 135, 163) ), color-stop(0.68, rgb(170, 183, 199) ) );*/
	/* Webkit (Safari/Chrome 10)
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #F0F0F0), color-stop(1, #7D8299)); */
	/* Webkit (Chrome 11+) 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #F0F0F0 0%, #7D8299 100%);*/
	padding: 2%;
	width:97%;
	position:absolute;
	z-index:999999;
}

#searchInput input {
	margin-top: 2px;
	line-height: 18px;
	/*padding: 10px 0 0 5px !important;*/
	outline: none !important;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
	-webkit-user-modify: read-write-plaintext-only;
}

#searchInput .ui-icon-searchfield::after {
	background: url(../images/search-icon.png) no-repeat 0 2px !important;
	-webkit-background-size: 20px 17px !important;
}

.edo-page .searchInput .ui-input-clear {
	/*display: none;*/
	background-image: none !important;
	box-shadow: 0px 0px 0px;
	border: 0px !important;
	background: none;
	margin-top: -9px;
	padding-right: 0px;
}

.ui-field-contain .ui-input-search {
	/*-webkit-border-radius: 1.5em;*/
	padding:0 25px !important;
}

@media ( min-width : 450px) {
	.ui-field-contain .ui-input-search {
		width: 98% !important;
		-webkit-border-radius: 0.5em;
	}
}

/*
.edo-page .searchInput div {
	width: 95%!important;
}*/
.edo-page .maps {
	margin: 0px;
	padding: 0px;
}

/*===================EDO MAPS CSS ENDS===================*/

/*gridview css*/
.edo-page .showGridview {
	margin-top: 17px;
	-webkit-border-radius: 5px;
	display: inline-block;
}

.edo-page .showGridview li:first-child {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}

.edo-page .showGridview li:last-child {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}
/*.edo-page .showGridview li:nth-child(2n+1){
	float:left;
	clear:left;
	}
.edo-page .showGridview li:nth-child(2n){
	float:right;
	}*/
.edo-page .floatRight {
	float: right !important;
}

.edo-page .showGridview .items {
	padding: 0;
	width: 123px;
	/*float:left;*/
	padding-left: 11px;
	border: 1px solid #D7D4D4;
	border-radius: 4px;
	/*-webkit-box-shadow: #F3F5F6 0 0 5px 4px inset;*/
	cursor: pointer;
	margin-top: 10px;
	min-height: 185px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #F0F2F3
		), color-stop(0.47, #FFFFFF) );
	display: inline-block;
	margin: 2px;
	float: left;
	margin-left: 3px;
}

.edo-page .showGridview .items .partnerLogo {
	border: 2px solid #f3f3f3;
	float: left;
	text-align: center;
	margin-top: 18px;
	margin-bottom: 8px;
	height: 100px;
	width: 104px;
	margin-left: 3%;
}

.edo-page .showGridview .items .offersInfo {
	clear: left;
	width: 95%;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	/*margin-left:4px;*/
	text-align: left;
}

.edo-page .showGridview .items .offersInfo .expiryDot {
	clear: left;
	float: left;
	/*border: 1px solid #c4c5c8;
	-webkit-border-radius: 10px;
	width: 13px;
	height: 13px;*/
	padding-top: 2px;
	padding-left: 2px;
	margin-right: 3%;
	/*margin-top: 10px;*/
	margin-bottom: 6px;
	margin-left: 0px !important;
}
/*.showGridview .offerDetailcontainer{height:30px;}*/
.edo-page .showGridview .items .offersInfo .merchantName {
	/*float: left;
	height: 29px;*/
	text-overflow: ellipsis;
}

.edo-page .showGridview .items .offersInfo .expiryDot .expiryDotInner {
	width: 11px;
	height: 11px;
	-webkit-border-radius: 10px;
}

.edo-page .showGridview .items .offersInfo .expDate {
	color: #838383;
	float: left;
	/*margin-top: 12px;*/
	font-size: 11px;
}

.edo-page .showGridview .items .rightArrow {
	float: right;
	display: none;
	margin-top: 25px;
	margin-right: 5%;
}

.edo-page .showGridview .partnerLogo img {width:97px !important; height:97px !important;}

.edo-page .showGridview .forListview {
	display: none;
}

.ui-content-internalpages ul.showGridview {
	margin: auto;
	text-align: center;
	margin-top: 20px;
	width:100%;
}
/*.edo-page .showGridview .items:nth-child(2n){margin-left:13px;}*/
.edo-page #edoLandingSortOptions .ui-select .ui-btn .ui-btn-text {
	font-size: 12px;
	text-align:center;
	padding:0px;
	font-weight:bold;
	color:#3d484d;
}
/*.edo-page #edoLandingSortOptions .ui-select .ui-btn .ui-btn-text {
	font-size: 12px;
	text-align:center;
	padding:0px;
	font-weight:bold;
}*/
#edoDetailsDisplay {
	text-align: center;
	display: inline-block;
	width:99.8%;
}
/* landscape css */
@media all and (orientation:landscape) {
	.edo-page .showGridview {
		width: 434px;
	}
	/* #edoLandingPage-pg .navtabs {
	/*margin-top: 20px;*/
	/*float:left;
	width:70%;  
	} */
	.edo-page #map_canvas,.edo-page #map_canvas2 {
		height: 304px;
	}
	#saveToPhotos-pg .detailPageLogo {
		margin-left: 38%;
	}
	
	#edoLandingPage-pg .overlay_wraper {
        width:93% !important;
        overflow:auto;
        background-color: #fff;
        color: #fa6904;
        font-size: 12px;
        margin: auto;
        display: none;
        z-index: 99999;
        /*overflow: hidden;*/
		overflow: visible;
		border-radius:4px;
		-webkit-border-top-left-radius: 0px !important; 
		/*height:54%;*/
		/*left:4% !important;
		top: 5% !important;*/
		}
		#edoHistory-pg .overlay_wraper {
	width:87% !important;
	background-color: #fff;
	color: #fa6904;
	font-size: 12px;
	margin: auto;
	display: none;
	z-index: 99999;
	/*overflow: hidden;*/
	border-radius:4px;
	-webkit-border-top-left-radius: 0px !important;
	overflow: visible;
	/*height:88%;*/
	/*left:7%;
	top:6%;*/
	}
	
}
/* portrait css */
@media all and (orientation:portrait) {
	.edo-page .showGridview {
		width: 290px;
	}
	#edoLandingPage-pg .overlay_wraper {
	width:87% !important;
	background-color: #fff;
	color: #fa6904;
	font-size: 12px;
	margin: auto;
	display: none;
	z-index: 99999;
	overflow-y: auto;
	border-radius:4px;
	-webkit-border-top-left-radius: 0px !important;
	overflow: visible;
	/*height:54%;*/
	/*left:7%;
	top:6%;*/
	}
	#edoHistory-pg .overlay_wraper {
	width:87% !important;
	background-color: #fff;
	color: #fa6904;
	font-size: 12px;
	margin: auto;
	display: none;
	z-index: 99999;
	overflow-y: auto;
	overflow: visible;
	border-radius:4px;
	-webkit-border-top-left-radius: 0px !important;
	/*height:88%;*/
	/*left:7%;
	top:6%;*/
	}
	.edo-page #map_canvas,.edo-page #map_canvas2 {
		height: 456px;
	}
	/* #edoLandingPage-pg .navtabs,#edoHistory-pg .navtabs{
	margin-top:5px;
	/*margin-top: 20px;*/
	/*float:left;
	width:60%;  */
	/* } */
}

.partnerLogo img {width:49px; height:49px;}
.edoDetailsNameBlock {
/* commenting below for bugfix and changing white-space to normal from no wrap*/
/*text-overflow: ellipsis;*/
white-space: normal;
overflow: hidden;
}

/* JQM UC9 Starts */
#edoLandingPage-pg .ui-select .ui-btn {
margin: 0px;
}
/* JQM UC9 Ends */



#edoHistory-pg .tooltip {
top: 89px;
right: 25px;
}

#edoLandingPage-pg .tooltip {
top: 91px;
right: 25px;
}

#edoLandingPage-pg .filedetail{color:#ff6600;}
#edoLandingPage-pg .rd-landing-bubble-data, #edoLandingPage-pg .rd-landing-bubble-data ul {margin-top: 0px; padding-top:0px;}
.overlay{opacity:0.4 !important}
/*#edoLandingPage-pg .merchantName {color:#ff6600 }*/

.edo-page .dtl-view-wrap .desc .headingStatic {
	color: #576166;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px
}
