@charset "utf-8";
/* CSS Document */

/*11/06/12*/
.raf-page .new-messages{color:#fff;font-size:10px;margin-right:3px;float:right;}


/*.raf-page .icon_faqs{float:right;/*margin-top:-7px; backlog changes*/

.raf-page  .ui-content-internalpages .text-below-orange-text{font-size:12px;width:70%;float:left;margin-top:3px;text-align:left;}

.raf-page  .ui-content-internalpages .orange-text{font-size:19px;color:#ea5523;margin-bottom:0px;margin-top:-4px;width:80%;text-align:left;}

.raf-page .ui-content-internalpages .refer-text1{font-size:12px;width:90%;margin-top:0px; margin-bottom:7px;}
.txtStyles{ text-decoration:none;}
.raf-page .ui-content-internalpages .refer-text2{font-size:14px;margin-top:-3px;}

.raf-page .ui-content-internalpages .you-friend{width: 283px;
margin-top: 11px;
padding-top: 0px;
background: url(../images/referaFriendCallOut.png) no-repeat center center;
height: 175px;
margin: auto;}

.raf-page .ui-content-internalpages .you-friend-you{width:136px; float:left;text-align:center; margin-left:10px; margin-top:13px}

.raf-page .ui-content-internalpages .orange-line{ height:4%;width:4%;}

.raf-page .ui-content-internalpages .you-friend-friend{width: 133px;
float: left;
text-align: center;
margin-top: 29px;
margin-left: -5px;}

.raf-page .ui-content-internalpages .you{display:block;text-align:center;font-size:16px;color:#3d484d;font-weight:600;}

.raf-page .ui-content-internalpages .five-thousand{display:block;text-align:center;font-size:30px;color:#ff6600;font-weight:900;}

.raf-page .ui-content-internalpages .miles{display:block;text-align:center;font-size:12px;}

.raf-page .ui-content-internalpages .after{display: block;
text-align: center;
font-size: 12px;
color: black;
padding: 0px 20px;}

.raf-page .ui-content-internalpages .when{display: block;
text-align: center;
font-size: 12px;
padding: 0px 14px;
color: black;}
.raf-page .ui-content-internalpages .white-box-div .share-box li{padding-left:10px !important;}
.raf-page .ui-content-internalpages .white-box-div .share-box li.padd2{padding:12px 5px;}/*13.3 Global Change*/
.raf-page .ui-content-internalpages .white-box-div .share-box li.padd1{padding:15px 5px 18px 5px;}  /*13.3 Global Change*/
.raf-page .ui-content-internalpages .white-box-div .share-box li.padd3{padding:8px 5px;}
.watermark{left:0 !important;font-size: 15px !important;}
.raf-page .ui-content-internalpages .view-ref-status{width:100%;display:block;/*text-align:center;*/color:#0267b1;margin-top:20px;font-size:14px;font-weight:600; padding-bottom:10px}

.raf-page .ui-content-internalpages .share-prv{width:100%;display:block;text-align:center;color:#1265a7;margin-top:-2%;font-size:13px;font-weight:bold;}
#share-mail-app .share-prv{width:100%;display:none;text-align:center;color:#1265a7;margin-top:-2%;font-size:13px;font-weight:bold;}
#share-mail-app-prv .share-prv{width:100%;display:block !important;text-align:center;color:#1265a7;margin-top:-2%;font-size:13px;font-weight:bold;}
.raf-page .ui-content-internalpages .terms-n-condi{width:100%;display:block;text-align:center;color:#1265a7;margin-top:4%;font-size:13px;font-weight:bold;}
.raf-page .cashback-bonus{display:block;text-align:center;font-size:12px; margin-top:-5px;}

/*-----------Referral Status--- 11/06/2012------------*/
.raf-page .ui-content-internalpages .h1-text{font-size:22px; margin-top:0px;}
.raf-page .greytext{color:#b3b7b9 !important;
font: 12.5px Arial!important; /*font-weight:bold !important*/}
.raf-page #font11px{font-size:11px !important;}
.raf-page .success {color: #ff6100 !important;font-size: 15px;position: relative;/*background-color: #FD691A;*/min-height: 12px;min-width: 10px;display: inline-block;padding: 0 2px;text-align: center;border-radius: 2px;margin-right: 3px;}

.raf-page #referral-status .ui-corner-top{ border-radius:5px 5px 0 0}
.raf-page #referral-status .ui-corner-bottom{border-radius:0px;}/*13.3 global change*/
.raf-page #referral-status .account-list-view li:first-child{border-top:2px solid #d0d0d0; border-radius:0px !important;}
.raf-page #referral-status .account-list-view li{height:auto;padding:8px;/*padding-left:2px;*/
cursor:pointer;
overflow:hidden;/*13.3 Global Change*/
border-bottom: 1px solid #d0d0d0  !important;
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dce3e5), color-stop(1%,#ffffff), color-stop(82%,#ffffff), color-stop(96%,#f5f7f8), color-stop(100%,#f5f7f8)) !important;*/
background:none !important;}
/*.raf-page #referral-status .account-list-view li:last-child{border:none !important;}*/
/*.raf-page #referral-status .account-list-view li:first-child p.greytext{white-space:normal; margin:0;color:#b3b7b9 !important }*/
.raf-page #referral-status .account-list-view li p img{float:left;}
.raf-page #referral-status .account-list-view li a.bluelink {background:none !important; font-size:14px; font-weight:bold !important;margin-left:0px;display:block;width:100% !important;margin-top:0px}
.raf-page #referral-status .account-list-view .ui-grid-c{width:100%; height:auto; margin-bottom: -20px !important; }
.raf-page #referral-status .account-list-view .ui-grid-c .ui-block-a {width:14%;text-align:center;height:40px; margin-top:6px;}
.raf-page #referral-status .account-list-view .ui-grid-c .ui-block-b {width:66%; padding-top:5px;padding-left:20px  }
.raf-page #referral-status .account-list-view .ui-grid-c .ui-block-c {width:15%; padding-top:10px; }
.raf-page #referral-status .account-list-view .ui-grid-c .ui-block-c .ui-link{font-size:14px !important;text-align:right;margin-top:2px;}
/*13.3 global change*/
.raf-page #referral-status .account-list-view .ui-grid-c .ui-block-d
{

background: url(../images/payArrow.png) no-repeat;
height: 18px;
width: 10px;
background-size: 10px 18px;
position: relative;
/*bottom: 18px;*/
float: right;
top: 14px;
}

.raf-page #referral-status .account-list-view li{padding-bottom:29px;}
/*13.3 global change*/
.raf-page #referral-status .referral-data{background:#f4f8f7 /*url('../images/raf-data-repeat.png') left center repeat-x*/;
border: 1px solid #e3e3e3; height:72px;background-size:66px 67px;padding:7px 0px 7px 0px;text-shadow:none; color:#364244;font-weight:bold;position:relative;margin: 10px 0px 20px 0px;}
#raf-status-dollar .bigger, #share-mail-app .bigger{margin:30px 0px 15px 0px !important;}/*13.3 global change*/
.raf-page #referral-status .referral-data .divider{position:absolute; top:5px;left:67%;/*background:url('../images/raf-divider.png');*/height:49.5px; width:3px;z-index:1;background-size:3px 49.5px}
.raf-page #referral-status .referral-data .white-div{font-size: 21px !important;
background: white;
height: 24px;
/*border-radius: 5px;*/
float: left;
color: #364244;
padding: 14px 8% 13px 7%;
width: 85%;
line-height: 17px;
/*margin-left: -6px !important;*/
border-top: 1px solid #e3e3e3;}
.raf-page #referral-status .referral-data .white-div .successful-referrals{font-size: 21px !important;}

.raf-page #referral-status .bluelink{color:#37403f !important;font-size: 15px !important;} 
.raf-page #referral-status .referral-data .successful-referrals{margin-left: 1%;padding: 3px 0px 7px 14px;font-size: 14px;}
/*.raf-page #referral-status .referral-data .earned-value{margin-right:8%}*/
.earnedHeading{ padding-right: 15px;width: 34%;text-align: center;padding: 3px 0 7px 10px;font-size: 14px;}
.raf-page #referral-status .referral-data .earned-value{width:25%; text-align:center;margin-top:-6px;color: #ff6100;line-height: 25px;}
.raf-page #referral-status .referral-data .margtp{margin-top:0px !important;}
.raf-page #referral-status .referral-data .earned-value .miles-size{font-size:11px;display:block;margin-top:-10px;}
.raf-page #referral-status .referral-detail{display:block;background: rgba(131,131,131,0.2); text-shadow:none; font:arial; font-size:12px;padding:10px ;height:auto;word-wrap:break-word;}
.raf-page #referral-status .referral-detail .close{width:14px;height:auto;background:url('../images/raf-close.png') top center no-repeat;background-size:14px 14px;float:right;cursor:pointer;margin-left:10px;min-height:28px}
.raf-page #raf-email {background: url('../images/raf-email.png') center center no-repeat ; background-size:36px 27px}
.raf-page #raf-fb {background: url('../images/raf-fb.png') center center no-repeat ; background-size: 36px 36px}
.raf-page #raf-twitter {background: url('../images/raf-twitter.png') center center no-repeat ; background-size:36px 36px}
.raf-page #raf-linkdin {background: url('../images/raf-linkdin.png') center center no-repeat ;  background-size:35.5px 35.5px}
/*---------------------------------------------------------*/


.raf-page .wraper .share-now .icon-container{width:73%;float:right;margin-top:0%;margin-right:4%;height:50%;}
.raf-page .ui-content-internalpages .share-now p{display:inline-block;float:left;color:#ea5523;font-weight:600;margin-top:2%;}

.raf-page .em{width:25%;float:left;background:url('../images/raf-email.png') no-repeat center;background-size:60%;height:25px;}
.raf-page .fb{width:25%;float:left;background:url('../images/raf-fb.png') no-repeat center;background-size:50%;height:28px;}
.raf-page .tw{width:25%;float:left;background:url('../images/raf-twitter.png') no-repeat center;background-size:50%;height:28px;}
.raf-page .ln{width:25%;float:left;background:url('../images/raf-linkdin.png') no-repeat center;background-size:50%;height:28px;}


.raf-page .social-title{ /*color:#ff6600;*/ font-size:12px; float:left; font-weight:bold; padding:4px 5px 0 0;}
.raf-page .social-partner{ margin:0 auto; width:275px;}
.raf-page .social-partner a{ margin:0 8px 0 8px; float:left; }
.raf-page .mail-icon {background:url(../images/raf-email.png) no-repeat 0 0;width:30px;height:25px;-webkit-background-size:30px 25px;}
.raf-page .facebook-icon {background:url(../images/raf-fb.png) no-repeat 0 0;width:30px;height:25px;-webkit-background-size:30px 25px;}
.raf-page .twitter-icon {background:url(../images/raf-twitter.png) no-repeat 0 0;width:30px;height:25px;-webkit-background-size:30px 25px;}
.raf-page .linkedin-icon {background:url(../images/raf-linkdin.png);width:30px;height:25px;-webkit-background-size:30px 25px;} 


.raf-page .ui-content-internalpages .social-title-cont{ width: 290px;
border-radius: 3px;
background-color: #ffffff;
border:1px solid #ccc;
padding-top: 15px;
padding-bottom: 15px;
margin-top: 4%;
font-size: 11px;
font-weight: 600;
float: left;}

/*15/06/12*/

.raf-page .white-box-div{
	width:100%;
	/*background-color:#ffffff;
 border-radius:7px;*/ /*13.3 global change*/}
.raf-page .white-box-div .ui-listview{
	/*background-color:#ffffff;*//*13.3 global change*/
	background:transparent;
	width:100%; 
	border-radius:7px;}

.raf-page .prv-send {margin-top:20px;text-align:center;}

.raf-page .ui-content-internalpages .prv-send .share-prv{font-size:10px; width:125px;border: 1px solid grey;/*color:#fa5317;*/height:32px; background:-webkit-gradient(linear, 0% 18%, 0% 68%, from(#F7FDFF), to(#C8CED0));padding:0 5px;}  /*26/06/12*/


/*.raf-page .ui-content-internalpages .prv-send .share-prv:hover{background:-webkit-gradient(linear, 0% 18%, 0% 68%, from(#C8CED0), to(#f7fdff)) !important;}*/

.raf-page .share-send-email{width: 75px;
height: 33px;
margin-left: 0px;
padding: 0 5px;}   /*26/06/12*/

.raf-page .share-prv .ui-btn-inner, .share-send-email .ui-btn-inner{padding:5px;}

.raf-page .ui-content-internalpages .raf-tnc{width:100%;text-align:center;margin-top:16px;}
.raf-page .ui-content-internalpages .raf-tnc p{font-size:10px;color:#0170a7;font-weight:600;}  /*26/06/12*/

.raf-page .ui-content-internalpages .white-box-div .share-box li{padding:7px 5px 7px 5px;
 border-bottom:1px solid #d0d0d0; /*13.3 global change*/
 /*border-width: thin;*/}
.raf-page .ui-content-internalpages .white-box-div .share-box .watermark_container{width:100%;height:65px;overflow:hidden;}
.raf-page .ui-content-internalpages .white-box-div .share-box .watermark_container .watermark{opacity:1;}
.raf-page .ui-content-internalpages .white-box-div .share-box .to .plus-app-btn{height: 32px;
width: 32px;
background: url('../images/plus-app-button.png') no-repeat;
background-size:32px 32px;
float: right;
/*margin-top: -25px;*/
/*margin-right: 5px;*/}
.raf-page .ui-content-internalpages .white-box-div .share-box .openit{color:#40484b;font-size:14px; cursor:pointer;font-weight:bold;padding:10px 5px 10px 10px !important;}
.raf-page .ui-content-internalpages .white-box-div .share-box .openit #plus-expand-btn{height: 20px;
margin-top: 3px;
width: 12px;
background: url('../images/plus-expand.png') no-repeat;
float: left;
background-size: 70%;
/* margin-left: -13px; */} 
.raf-page .hidden{display:none;}
.raf-page .ui-content-internalpages .white-box-div .share-box .to .cont-editable{display:inline-block;width:97%;font-size:13px;margin:1px 0 0; }
.raf-page .ui-content-internalpages .share-box{
font-size:11px;
border-top: 2px solid #D0D0D0;
border-bottom: 2px solid #D0D0D0;/*13.3 global change*/
/*border:1px solid #eef0f1;
border-radius: 4px;*//*13.3 global change*/}
.raf-page .ui-content-internalpages .subj{font-size:10px;}

.raf-page .ui-content-internalpages .white-box-div .share-box .subj .subj-edit{float: right;
color: #0965b0;
margin-right: 2px;
font-weight: bold;
margin-top: 5px;
font-size:13px;
background: url('../images/blueArrow.png') 30px center no-repeat;
width: 40px;}
.raf-page .ui-content-internalpages .white-box-div .share-box li:nth-child(5){border-bottom:none;}
.raf-page .ui-content-internalpages .white-box-div .share-box .message p{margin: 2px 0px 2px 0px;
font-size: 14px;
color: #596162;
line-height: 17px;}
.raf-page .ui-content-internalpages .white-box-div .share-box #show-hide p{font-size:12px;margin-top:-5px;width:90%;padding-left: 13px;} /*26/06/12*/

.raf-page .ui-content-internalpages .white-box-div .share-box-prv li{padding:7px 5px 7px 5px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .subj .subj-edit{font-size:13px;float:right;color:#828282;margin-right:2px;}
/*13.3 global change*//*.raf-page .ui-content-internalpages .white-box-div .share-box-prv li{
	border-bottom:1px solid #d0d0d0;
	border-width:thin;
	}*/
.raf-page h1{margin-bottom:15px !important;}/*13.3 global change*/
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .message p{margin: 2px 10px 2px 0px;}/*13.3 global change*/
font-size: 14px;
line-height: 17px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv #show-hide p{font-size:11px;margin-top:-5px;width:90%;}
.raf-page .ui-content-internalpages .share-box-prv{font-size: 14px;
/*border: 1px solid #ecedee;*/ /*13.3 global change*/
border-top:2px solid #d0d0d0;
border-bottom:1px solid #d0d0d0;
/*border-radius: 4px;*/}

.raf-page .share-box-prv .to, .raf-page .share-box-prv .message{margin-left:10px;}/*13.3 global change*/
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to span.to-color:first-child{color:#a4a4a4;display:block;padding-top:5px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .message .to-color{color:#a4a4a4;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to .from .to-color{color:#a4a4a4;margin-top:0px;margin-bottom:0px;font-size:11px;margin:2px 0 2px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to .subj .to-color{color:#a4a4a4;margin-top:0px;margin-bottom:0px;margin:2px 0 2px;font-size:13px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to ._subject .to-color{color:#a4a4a4;margin-top:0px;margin-bottom:0px;margin:2px 0 2px;font-size:14px;}


.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to .plus-app-btn{height:21px;width:21px;background:url('..../images/plus-app-button.png') no-repeat;float:right; margin-top:-5px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .openit{color:#025d95;font-size:11px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .openit #plus-expand-btn{height:8px;margin-top:4px;width:12px;background:url('../images/plus-expand.png') no-repeat;float:right; background-size:70%;} 


/*19/06/12*/

.raf-page .ui-content-internalpages ._subject{font-size:14px;margin-bottom:0px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to .from-prv .to-color{color: #3f474d;font-size:14px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv li .from-prv, .ui-content-internalpages .white-box-div .share-box-prv li .to-color, .ui-content-internalpages .white-box-div .share-box-prv li ._subject {margin:0px;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv li .cont-editable-prv,.raf-page .ui-content-internalpages .white-box-div .share-box-prv li .cont-editable-prv-from{margin:0px; color:#3f474d}
.raf-page .share-edit-email .ui-btn-inner {padding:7px;}
/*.edit-email .ui-btn-up-c{padding:7px !important;}*/
.raf-page .ui-content-internalpages .prv-send .share-edit-email{width:125px;border: 1px solid grey;/*color:#fa5317;*/height:32px; background:-webkit-gradient(linear, 0% 18%, 0% 68%, from(#F7FDFF), to(#C8CED0));padding:0 5px !important;} /*26/06/12*/
/*.raf-page .ui-content-internalpages .prv-send .share-edit-email:hover{background:-webkit-gradient(linear, 0% 18%, 0% 68%, from(#C8CED0), to(#f7fdff)) !important}*/
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .message .msg{margin:0px;/*font-size:10px;*/white-space:pre;word-wrap:break-word;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .message .sender{padding-top:2px;padding-bottom:2px;font-size:10px;}
.raf-page .ui-content-internalpages .white-box-div .share-box .to #err{font-size:13px;margin-bottom:0px;color:#F00; margin-top:0px;width:70%} 
.raf-page .ui-content-internalpages .white-box-div .share-box .to #err2{font-size:13px;margin-bottom:0px;color:#F00; margin-top:0px;width:70%} 

 /*20/06/12*/
 
.raf-page .ui-content-internalpages .white-box-div .share-box .to-color{color:#a4a4a4; display:block;/*float:left; 13.3 global change*/font-size:14px;}  /*26/06/12*/
.raf-page .ui-content-internalpages .r3matchbtn .ui-btn-text{margin:0px !important; line-height:5px;}/*13.3 global change*/
.raf-page .ui-content-internalpages .r3matchbtn .ui-disabled{min-width:0 !important;}/*13.3 global change*/
.raf-page .ui-content-internalpages .ui-btn-up-c .ui-disabled{padding:0 !important;}/*13.3 global change*/
.raf-page .ui-content-internalpages .white-box-div .share-box .to .email-inputs,.raf-page .ui-content-internalpages .white-box-div .share-box .to .email-inputs-from{/*padding:3px 0 0 2px;*/margin:0px;margin-left:0px;font-size:14px !important;/*font-weight:bold;*/ border:none; background:none; -webkit-box-shadow:none; -moz-box-shadow:none;-op-box-shadow:none;}  
.raf-page .ui-content-internalpages .white-box-div .share-box .to .email-inputs{height:19px;overflow:hidden;resize:none;line-height:15px !important;width: 90%; font-size:16px; font-weight:bold; color:#3e484b}
/*26/06/12*/
.raf-page .ui-content-internalpages .white-box-div .share-box .to .email-inputs-from{/*padding-top:10px;*/line-height:normal}

.raf-page .ui-content-internalpages .white-box-div .share-box .to .email-inputs-dummy{padding:0 0 0 2px;;margin:0px;margin-left:0px;font-size:10px !important; border:none; background:none; -webkit-box-shadow:none; -moz-box-shadow:none;-op-box-shadow:none;}  
/*above dummy class to showcase a space delim in email to field*/
.raf-page .ui-content-internalpages .white-box-div .share-box .to .cont-editable{display:inline-block;width:80%;font-size:13px;margin:0; word-break:break-all;line-height:15px;}
/*.raf-page .ui-content-internalpages .white-box-div .share-box .to .cont-editable{display:inline-block;width:85%;font-size:11px;margin:1px 0 0;}
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to .cont-editable{display:inline-block;width:85%;font-size:11px;margin:1px 0 0;}*/
.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to .cont-editable-prv{display:inline-block;width:85%;font-size:11px;margin:1px 0 0;}
.raf-page .ui-content-internalpages .white-box-div .share-box .subj input[name=text], .raf-page .ui-content-internalpages .white-box-div .share-box .subj input[name=subject]
{
	margin-left:2px;
	float:left;
	font-size:14px !important;
	
	-moz-border-radius: 1.5px;
	-webkit-border-radius: 1.5px;
	-border-radius: 1.5px;
	display:none;
	padding-left:2px;
	
	width:75%;
	
}

.raf-page .ui-content-internalpages .white-box-div .share-box .subj input.ui-input-text{line-height:0 !important;}

.raf-page label.edit-it{/*padding-left: 5px;*/
float: left;
font-size: 18px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-border-radius: 2px;
margin-top: 4px;/*13.3 global change*/
width: 85%;
/*font-weight: bold;*//*13.3 global change*/
color: #3e484b;} /*26/06/12*/

.raf-page .ui-content-internalpages .white-box-div .share-box .txtarea{width: 95%;
font-size: 14px !important;
color: #9aa1a6 !important;
white-space: pre;
border: none;
background: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-op-box-shadow: none;
resize: none;
overflow: hidden;
font-weight: normal}

.raf-page .ui-content-internalpages .white-box-div .share-box .subj input.input-edit{/*margin:-8px auto; 13.3 global changes*/padding-left:5px;border:none; background:none; -webkit-box-shadow:none;-moz-box-shadow:none;-op-box-shadow:none;}/*26/06/12*/

.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to .cont-editable{display:inline-block;width:80%;font-size:11px;margin:1px 0 0 3px;color: #39454d !important;
font-weight: bold;} 

.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to .cont-editable-prv,.raf-page .ui-content-internalpages .white-box-div .share-box-prv .to .cont-editable-prv-from{display: block;
width: 100%;
font-size: 14px;
/*margin: 1px 0 0 3px;*/
word-break: break-all;
font-weight: bold;
border-bottom: 1px solid #f8f8f8;
padding-bottom: 13px;} /*26/06/12*/

.raf-page .ui-content-internalpages .white-box-div .share-box .to .to-color1{color:#a4a4a4; font-size:14px;} /*26/06/12*/
.raf-page .ui-content-internalpages .white-box-div .share-box .to .toplft{float:left;padding-top:5px;font-size:14px;width:18px} /*26/06/12*/

.raf-page .ui-content-internalpages .prv_msg{margin-left:2px;color: #474e55;
font-weight: bold; }

.raf-page .ui-content-internalpages #footnotes p,.raf-page .ui-content-internalpages #footnotes .foot-link #feedbk-login{font-size:10px !important;}  /*26/06/12*/

/*27/06/12*/ 
/*  Error Pages Start */
.raf-page .ui-content-internalpages .wraper .error-text1{color:#ff0000;margin:0;padding:5px 0 0 0; font-weight:normal}
.raf-page .ui-content-internalpages .wraper .e6011000821070335rror-text2{font-size:16px;color:#ff0000;margin:0;padding:0;}
.raf-page .ui-content-internalpages #er-wrap{1height:320px;}
/* Error Pages Ends */

.raf-page .ui-content-internalpages .social-title-cont-wrap{width:300px;margin:0 auto;}
.raf-page .ui-content-internalpages a.view-ref-status{text-decoration:none;}
.raf-page .ui-content-internalpages a.terms-n-condi,.raf-page .ui-content-internalpages a.share-prv{text-decoration:none;}

.raf-page .footnotes #footer-links{display:block !important;color:#025d96;font-size:10px; font-weight:100 !important;}
.raf-page .footnotes #footer-text{font-size:10px;font-weight:600 !important;margin-bottom:10px;}
#share-mail-app .cont-editable input.email-inputs-from{margin-left:-8px; /*font-weight: bold;* 13.3 global change*/ font-size: 18px !important;}
#navToRafShareWithEmail .ui-grid-c .ui-block-a{ margin-top:1px !important;}
#list_subject span.to-color{ margin-top:2px;}