<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.discover.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application
        android:icon="@drawable/discove_mobile_icn"
        android:label="@string/app_name"
        android:allowBackup="false" 
        android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar"
        >        
        <activity 
            android:name=".login.LandingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
            
        <activity 
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
       </activity>
       
      <activity 
            android:name="register.EnhancedAccountSecurity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
       </activity>
       
        <activity 
            android:name=".login.LoggedInLandingPage"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
       </activity>
       
        <activity 
            android:name="register.AccountInformationActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
       </activity>
       
        <activity 
            android:name="register.AccountInformationTwoActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
       </activity>

    </application>

</manifest>