<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.discover.mobile"
    android:versionCode="1"
    android:versionName="4.0">
    
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	<application android:name=".DiscoverApplication"
		android:icon="@drawable/discove_mobile_icn"
		android:label="@string/app_name"
		android:allowBackup="false"
		android:theme="@style/AppTheme"
		android:logo="@drawable/discover_logo_inset">
		
	    <activity android:name="SplashScreenActivity"
			android:label="@string/app_name"
			android:noHistory="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".login.StartActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.NoTitleBar" />

		<activity android:name=".login.LoginActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.NoTitleBar" />
		
		<activity android:name=".security.EnhancedAccountSecurityActivity"
			android:label="@string/app_name"
			android:launchMode="standard"
			android:screenOrientation="portrait"
			android:noHistory="true">
		</activity>

		<activity android:name=".login.LoggedInLandingPage"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait" />
		
		<activity android:name=".login.LockOutUserActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait" />
		
		<activity android:name=".login.register.RegistrationAccountInformationActivity"
			android:label="@string/app_name"
			android:launchMode="standard"
			android:screenOrientation="portrait" />
	
		<activity android:name=".login.register.ForgotPasswordAccountInformationActivity"
			android:label="@string/app_name"
			android:launchMode="standard"
			android:screenOrientation="portrait" />
	
		<activity android:name=".login.register.ForgotBothAccountInformationActivity"
			android:label="@string/app_name"
			android:launchMode="standard"
			android:screenOrientation="portrait"
			android:noHistory="true">
		</activity>
       
        <activity android:name=".login.register.CreateLoginActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait">
       </activity>
       
        <activity android:name=".login.register.AccountInformationConfirmationActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:noHistory="true">
       </activity>
       
       <activity android:name=".login.register.StrengthBarHelpActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait">
       </activity>
       
       <activity android:name=".login.forgot.ForgotCredentialsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:noHistory="true">
       </activity>
       
       <activity android:name=".login.forgot.ForgotUserIdActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:noHistory="true">
       </activity>
       
       <activity android:name=".login.forgot.EnterNewPasswordActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
       </activity>

		<activity android:name=".login.forgot.EnterNewPasswordActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait" />
		
		<activity android:name="com.discover.mobile.navigation.NavigationRootActivity" />
	
       
    </application>
    
</manifest>